<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sois.timetablescheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Batch_Add" />
        <activity android:name=".Add_day" />
        <activity android:name=".Add_lecturer" />
        <activity android:name=".Add_Batch" />
        <activity android:name=".Add_subject" />
        <activity android:name=".Add_class" />
        <activity android:name=".Generate" />
        <activity android:name=".Grid" />
        <activity android:name=".Grid2" />
        <activity android:name=".Gen" />
        <activity android:name=".actTimeTableReport" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".ViewData"></activity>
    </application>

</manifest>